body {
  font-family: sans-serif;
}

.form-item {
  width: 20%;
  min-width: 30px;
  margin-bottom: .5em;
  display: flex;
}

.form-item label {
  width: 3em;
  text-align: right;
  margin-right: 1.25em;
}

.form-item input {
  flex: 1;
}

button {
  margin: 1em;
}

#status {
  color: darkcyan;
  margin: 1em;
}